.appbar-container {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #f15b50;
  color: white;
  box-shadow: 0 0 4px #f15b50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appbar-left {
  padding-left: 20px;
}

.appbar-left h5,
.appbar-right a,
.appbar-right img {
  cursor: pointer;
}

.appbar-right {
  padding-right: 20px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appbar-right a {
  text-decoration: none;
  color: whitesmoke;
}

.appbar-right img {
  height: 32px;
  width: 32px;
  filter: invert(95%) sepia(77%) saturate(6372%) hue-rotate(179deg)
    brightness(112%) contrast(103%);
}
